script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

script(src='/javascript/manager/systems/autoinstallation/profiles/create-autoinstall-profile.bundle.js?cb=#{webVersion}', type='text/javascript')